body{
    background: linear-gradient(140deg, #30ffbf, #1f54e6);
    background-size: 200% 200%;
    -webkit-animation: animatedbackdround 20s ease infinite;
    -moz-animation: animatedbackdround 20s ease infinite;
    animation: animatedbackdround 20s ease infinite;
}
@-webkit-keyframes animatedbackdround {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
@-moz-keyframes animatedbackdround {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}
@keyframes animatedbackdround {
    0%{background-position:11% 0%}
    50%{background-position:90% 100%}
    100%{background-position:11% 0%}
}

#container {
    display: grid;
    grid-template-columns: 200px 400px;
    grid-column-gap: 10px;
    margin: 30px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.32) 0 0 20px;
    overflow: hidden
}
.title {
    z-index:1;
    text-align: left;
    font-family:Josefin Sans,sans-serif;
    font-weight: 300;
    font-size: 90px;
}

.titletext {
    margin: 0px;
    padding: 0px;
}

#mainpic {
    object-fit: cover;
    height: 707px;
}

.description {
    z-index: 1;
    text-align: right;
    width: 350px;
    font-size: 20px;
    font-style: italic;
    font-family: Josefin Sans, sans-serif;
}

/*#bookbtn {

    border:none;
    position: absolute;
    top:70%;
    left: 18%;
    background-color: rgb(34, 119, 255);
    color: rgb(255, 255, 255);
    width: 250px;
    height: 80px;
    text-align: center;
    border-radius: 45px;
    font-size: 30px
}
#bookbtn:hover{
    border:solid rgb(154, 228, 255) 1px;
    cursor:pointer;
    box-shadow: rgb(34, 119, 255) 0 0 15px;
}
#bookbtn:active{
    top:70.2%;
    cursor:pointer;
}*/

#bookbtn{
    border: none;
    font-family: Josefin Sans, sans-serif;
    position: absolute;
    top:70%;
    left: 11%;
    width: 250px;
    height: 80px;
    text-align: center;
    border-radius: 45px;
    font-size: 30px;
    color: white;
    background: linear-gradient(45deg, #0ceaae, #1f54e6);
    box-shadow: rgba(0, 0, 0, 0.38) 0 1px 10px ;
    transition: all 0.3s ease-in-out;
}

/*
#bookbtn:hover {
  --webkit-transform: scale(1.25, 1.25);
  transform: scale(1.05, 1.05);
}
*/

#bookbtn:hover::after {
    opacity: 1;
}

#bookbtn:active{
     transform: scale(0.98, 0.98);
    transition: all 0.1s ease-in-out;

}

